Django
psycopg2-binary
uvicorn
dj-database-url
python-dotenv
django-environ

daphne # websocketプロトコル対応のASGIサーバー
channels # Djangoではサポートされていない非同期通信をASGIベースで実装できるライブラリ

# 複数consumer間でチャットをする場合
channels-redis